.about_grid{display:grid;grid-template-columns:repeat(3,1fr);row-gap:30px}
.about_block{padding:0 10px;grid-column:span 3}
.about_img{grid-column:span 2}
.about_img img{max-width:300px;width:100%;height:auto}
.about_block_title{font-weight:600;margin-bottom:5px}
.about_block p{font-size:16px}
.text_block_aside{font-size:14px}
.text_block_aside.text_end{grid-column:3/4;grid-row:1/2;text-align:end;padding-left:10px}
.text_block_aside.text_start{grid-column:1/2;grid-row:4/5;text-align:start;padding-right:10px}
.text_end .about_aside{border-right:3px solid #f4c95d}
.text_end img{margin-right:0;margin-left:auto}
.text_start .about_aside{border-left:3px solid #f4c95d}
.about_aside{margin:25px 0;font-style:italic;padding:0 10px}
.about_aside::before{content:"\275D";font-size:40px;font-style:normal;line-height:16px;vertical-align:bottom}
@media (min-width:500px){.about_img img{max-width:400px}}
@media (min-width:800px){
.about_block,.about_img{grid-column:span 1}
.text_block_aside{font-size:16px}
.about_aside::before{font-size:50px}
.text_block_aside.text_end{grid-column:3/4}
.text_block_aside.text_start{grid-row:2/3}
.about_grid{display:grid;grid-template-columns:repeat(3,1fr);row-gap:50px}
.about_block{padding:0 20px}
}