.news_grid{display: grid;grid-template-columns: 1fr;}
.news_card{margin-bottom: 20px;display: grid; grid-template-rows: repeat(3, auto) 1fr;}
.news_card_image{margin-bottom: 10px;overflow: hidden;position: relative;}
.news_card_image a{display: block;}
.news_card_image img{width:100%;transition: transform 0.3s ease-out;}
.news_card_image a:hover img{transform: scale(1.1);}
.news_card_title{font-size: 20px;font-weight: 600;}
.news_card_description{font-size: 16px;font-weight: 300;margin-bottom: 20px;}
.news_card_button{margin-top: auto;}
.news_card_link{background-color: transparent;cursor: pointer;color: #000000;transition: 0.2s ease-out;font-size: 16px;padding: 3px 15px;border: 1px solid #000000;display: inline-block;}
.news_card_link:hover{background-color: #f4c95D;border-color: #f4c95D;}
@media (min-width:500px) {
    .news_grid{grid-template-columns: repeat(2, 1fr);}
    .news_card{padding: 0 12px;}
}
@media (min-width:900px) {
    .news_grid{grid-template-columns: repeat(3, 1fr);}
    .news_card{margin-bottom: 50px;}
}